body {
    margin: 0;
    padding: 0;
    background-image: url('URL_DE_VOTRE_IMAGE_DE_FOND'); /* Remplacez par l'URL de l'image de fond */
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.card-content {
    position: relative;
    color: white;
    z-index: 2;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 10%, transparent 90%);
    z-index: 1;
}

h2, p {
    margin: 5px 0;
}

a {
    color: #aad3ea;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
